@import "partials/reset";
// @import "partials/_functions.scss";
// @import "partials/_mixins.scss";

@import "partials/_variables";

@import "subpage_partials/_header.scss";
@import "subpage_partials/_landingPage.scss";
// @import "subpages_partials/_about.scss";
// @import "subpages_partials/_portfolio.scss";
// @import "subpages_partials/_contact.scss";
@import "subpage_partials/_footer.scss";

@font-face {
    font-family: 'Academy Engraved LET';
    src: url(../fonts/Academy_Engraved_LET_Plain.ttf) format('ttf');
    src: url(../fonts/Academy_Engraved_LET_Plain.woff) format('woff');
}

@font-face {
    font-family: 'Sorts Mill Goudy';
    src: url(../fonts/Sorts_Mill_Goudy_Italic.ttf) format('ttf');
    src: url(../fonts/Sorts_Mill_Goudy_Italic.woff) format('woff');
    font-style: italic;
}

@font-face {
    font-family: 'Sorts Mill Goudy';
    src: url(../fonts/Sorts_Mill_Goudy_Regular.ttf) format('ttf');
    src: url(../fonts/Sorts_Mill_Goudy_Regular.woff) format('woff');
    font-style: normal;
}

* {
    box-sizing: border-box;
    border: 1px solid black;
}

body {
    width: 100%;
    background-color: $tertiary-color;
    font-family: $font-plain;
    font-size: 16px;
}


.content-wrapper {
    display: block;
    width: 100%;
    min-height: calc(100vh - $main-header-height - $main-footer-height);
    // background-color: transparentize($primary-color, .25);
    background-color: $tertiary-color;
}

.content {
    position: relative;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    min-height: calc(100vh - $main-header-height - $main-footer-height);
    // background-color: transparentize($tertiary-color, .25);
}





