@import "partials/_variables";

@import "partials/reset";
// @import "partials/_functions.scss";
// @import "partials/_mixins.scss";

// @import "subpage_partials/_header.scss";
@import "subpage_partials/_layout.scss";
@import "subpage_partials/_landingPage.scss";
@import "subpage_partials/_about.scss";
@import "subpage_partials/_portfolio.scss";
@import "subpage_partials/_contact.scss";
// @import "subpage_partials/_footer.scss";

@font-face {
    font-family: 'Academy Engraved LET';
    src: url(../fonts/Academy_Engraved_LET_Plain.ttf) format('ttf');
    src: url(../fonts/Academy_Engraved_LET_Plain.woff) format('woff');
}

@font-face {
    font-family: 'Sorts Mill Goudy';
    src: url(../fonts/Sorts_Mill_Goudy_Italic.ttf) format('ttf');
    src: url(../fonts/Sorts_Mill_Goudy_Italic.woff) format('woff');
    font-style: italic;
}

@font-face {
    font-family: 'Sorts Mill Goudy';
    src: url(../fonts/Sorts_Mill_Goudy_Regular.ttf) format('ttf');
    src: url(../fonts/Sorts_Mill_Goudy_Regular.woff) format('woff');
    font-style: normal;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 16px;

    font-family: $font-plain;
}

a {
    transition: color 500ms;
    &:hover {
        color: $secondary-color;
    }
}

// @media screen and (min-width: 767px) and (max-width: 1023px){
    @import "responsive/_tablet.scss";    
// }

// @media screen and (max-width: 766px){
    @import "responsive/_mobile.scss";    
// }





