html, body, div, span,
h1, h2, h3, h4, h5, h6, q, blockquote,
a, p, u, em, i, b, strong, img,
ol, ul, li,
form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  color: inherit;
  text-decoration: none;
}

article, aside, footer, header, nav, section, main {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  overflow: hidden;
}

.page-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: hsl(231deg, 18%, 14%);
}
.page-wrapper img.background-image {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom center;
     object-position: bottom center;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}
.page-wrapper .page-content {
  height: 100%;
}
.page-wrapper .page-content .main-nav {
  z-index: 10;
  position: absolute;
  right: 5vw;
  top: 15vh;
}
.page-wrapper .page-content .main-nav .nav-item {
  display: block;
  position: relative;
  color: hsl(190deg, 7%, 84%);
  font-family: Sorts Mill Goudy;
  font-size: 4vh;
  padding: 0.25em 0;
  transition: color 500ms;
}
.page-wrapper .page-content .main-nav .nav-item:hover {
  color: hsl(26deg, 66%, 41%);
}
.page-wrapper .page-content .main-nav .active-nav-item {
  color: hsl(26deg, 66%, 41%);
  cursor: default;
}
.page-wrapper .next-page {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 80%;
}
.page-wrapper .next-page i {
  left: 12.5%;
}
.page-wrapper .previous-page {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
.page-wrapper .next-page, .page-wrapper .previous-page {
  z-index: 10;
  height: 7vh;
  color: hsl(190deg, 7%, 84%);
  font-size: 5vh;
  text-align: center;
  transition: color 500ms, background-color 500ms;
}
.page-wrapper .next-page i, .page-wrapper .previous-page i {
  padding: 1vh;
  position: relative;
}
.page-wrapper .next-page:hover, .page-wrapper .previous-page:hover {
  color: hsl(26deg, 66%, 41%);
  background-color: rgba(211, 216, 217, 0.1);
}
.page-wrapper .socials {
  position: absolute;
  right: 5vw;
  bottom: 1vh;
  color: hsl(190deg, 7%, 84%);
  display: inline-block;
  height: 7vh;
  width: 20%;
  text-align: right;
  font-size: 5vh;
  padding: 1.5vh 0;
}
.page-wrapper .socials a {
  transition: color 500ms;
  margin-left: 0.5vw;
}
.page-wrapper .socials a:hover {
  color: hsl(26deg, 66%, 41%);
}

.landing-page-wrapper .landing-page-content .title {
  z-index: 10;
  position: absolute;
  top: 45vh;
  left: 5vw;
  color: hsl(190deg, 7%, 84%);
  font-family: Sorts Mill Goudy;
}
.landing-page-wrapper .landing-page-content .title .title-header {
  font-size: 7.5vh;
}
.landing-page-wrapper .landing-page-content .title .title-subheader {
  font-size: 3.5vh;
}

.about-page-wrapper .about-page-content .about-text {
  position: absolute;
  top: 10vh;
  left: 5vw;
  overflow-y: scroll;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover*/
  width: 75vw;
  height: 80vh;
  color: hsl(190deg, 7%, 84%);
  font-family: Sorts Mill Goudy;
  font-size: 1.5vw;
  line-height: 1.5em;
  padding-right: 1vw;
}
.about-page-wrapper .about-page-content .about-text::-webkit-scrollbar {
  width: 0.5vw;
}
.about-page-wrapper .about-page-content .about-text::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px hsl(190deg, 7%, 84%);
  border-radius: 10px;
}
.about-page-wrapper .about-page-content .about-text::-webkit-scrollbar-thumb {
  background: hsl(190deg, 7%, 84%);
  border-radius: 10px;
}
.about-page-wrapper .about-page-content .about-text::-webkit-scrollbar-thumb:hover {
  background: hsl(26deg, 66%, 41%);
  border-radius: 10px;
}
.about-page-wrapper .about-page-content .about-text h1 {
  font-size: 1.2em;
  margin-bottom: 1em;
}
.about-page-wrapper .about-page-content .about-text h2 {
  margin-top: 1em;
}
.about-page-wrapper .about-page-content .about-text h2 a {
  font-weight: bold;
  transition: color 500ms;
}
.about-page-wrapper .about-page-content .about-text h2 a:hover {
  color: hsl(26deg, 66%, 41%);
}
.about-page-wrapper .about-page-content .about-text p {
  text-align: justify;
  margin-bottom: 1em;
  width: auto;
}
.about-page-wrapper .about-page-content .about-text img {
  width: 35%;
  margin-bottom: 1em;
}
.about-page-wrapper .about-page-content .about-text img.float-left {
  float: left;
  margin-right: 2em;
}
.about-page-wrapper .about-page-content .about-text img.float-right {
  float: right;
  margin-left: 2em;
}

.portfolio-page-wrapper .portfolio-page-content .carousel-wrapper {
  position: absolute;
  top: 10vh;
  left: 5vw;
  width: 75vw;
  height: 80vh;
  background-color: rgba(29, 31, 42, 0.75);
}
.portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item {
  position: absolute;
  top: 0px;
  left: 5%;
  height: 100%;
  width: 90%;
}
.portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-images {
  position: relative;
  width: 70%;
  height: 100%;
}
.portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-images img {
  z-index: 5;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom center;
     object-position: bottom center;
  width: 47%;
  height: 47%;
  filter: brightness(75%);
  transition: width 500ms, height 500ms, z-index 500ms, filter 1000ms;
}
.portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-images img.top {
  top: 2%;
}
.portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-images img.left {
  left: 2%;
}
.portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-images img.bottom {
  bottom: 2%;
}
.portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-images img.right {
  right: 2%;
}
.portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-images img:hover {
  z-index: 50;
  filter: brightness(100%);
  width: 80%;
  height: 80%;
}
.portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-description {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 26%;
  height: 96%;
  padding-top: 20%;
  font-family: Sorts Mill Goudy;
  font-size: 1.75vw;
  color: hsl(190deg, 7%, 84%);
}
.portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-description .title {
  width: 100%;
  font-size: 2em;
  text-align: center;
}
.portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-description .year {
  width: 100%;
  font-size: 1.75em;
  text-align: center;
}
.portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-description .detail {
  display: block;
  text-align: center;
  font-size: 1.25em;
  width: 100%;
  height: 3em;
  padding: 1em;
}
.portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .previous-item, .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .next-item {
  position: absolute;
  top: 0px;
  cursor: pointer;
  height: 100%;
  width: 5%;
  font-size: 3vw;
  text-align: center;
  color: hsl(190deg, 7%, 84%);
  padding-top: 37.5vh;
  transition: color 500ms, background-color 500ms;
}
.portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .previous-item:hover, .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .previous-item:focus, .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .next-item:hover, .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .next-item:focus {
  color: hsl(26deg, 66%, 41%);
  background-color: rgba(211, 216, 217, 0.1);
}
.portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .previous-item {
  left: 0px;
}
.portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .next-item {
  right: 0px;
}

.contact-page-wrapper .contact-page-content .contact-info {
  z-index: 10;
  position: absolute;
  left: 5%;
  top: 20%;
  width: 30%;
  height: 70%;
  color: hsl(190deg, 7%, 84%);
  font-family: Sorts Mill Goudy;
}
.contact-page-wrapper .contact-page-content .contact-info .logo {
  width: 100%;
}
.contact-page-wrapper .contact-page-content .contact-info .text p {
  font-size: 3vh;
  margin-top: 1em;
  line-height: 1.5em;
}
.contact-page-wrapper .contact-page-content .contact-info .text p .title {
  display: inline-block;
  font-weight: bold;
  width: 17.5%;
  text-align: center;
}
.contact-page-wrapper .contact-page-content .contact-info .text p .title.address {
  position: relative;
  top: 0.75em;
}
.contact-page-wrapper .contact-page-content .contact-info .to-contact-form {
  display: none;
}
.contact-page-wrapper .contact-page-content .contact-form {
  z-index: 10;
  position: absolute;
  left: 40%;
  bottom: 15vh;
  border-left: 0.1vw solid hsl(190deg, 7%, 84%);
  padding-left: 5%;
  width: 35%;
  height: 70%;
  color: hsl(190deg, 7%, 84%);
  font-size: 3.5vh;
  font-family: Sorts Mill Goudy;
}
.contact-page-wrapper .contact-page-content .contact-form label {
  position: relative;
  top: 0.4em;
  display: block;
  width: 100%;
}
.contact-page-wrapper .contact-page-content .contact-form label:first-child {
  margin-top: -0.5em;
}
.contact-page-wrapper .contact-page-content .contact-form input, .contact-page-wrapper .contact-page-content .contact-form textarea {
  width: 100%;
  height: 1.8em;
  padding-left: 0.5em;
  font-size: 0.7em;
  color: hsl(190deg, 7%, 84%);
  border: none;
  outline: none;
  background-color: rgba(29, 31, 42, 0.9);
  transition: border-bottom 500ms;
}
.contact-page-wrapper .contact-page-content .contact-form input::-moz-placeholder, .contact-page-wrapper .contact-page-content .contact-form textarea::-moz-placeholder {
  color: hsl(190deg, 7%, 84%);
  opacity: 0.8;
}
.contact-page-wrapper .contact-page-content .contact-form input:-ms-input-placeholder, .contact-page-wrapper .contact-page-content .contact-form textarea:-ms-input-placeholder {
  color: hsl(190deg, 7%, 84%);
  opacity: 0.8;
}
.contact-page-wrapper .contact-page-content .contact-form input::placeholder, .contact-page-wrapper .contact-page-content .contact-form textarea::placeholder {
  color: hsl(190deg, 7%, 84%);
  opacity: 0.8;
}
.contact-page-wrapper .contact-page-content .contact-form input:focus, .contact-page-wrapper .contact-page-content .contact-form input:hover, .contact-page-wrapper .contact-page-content .contact-form textarea:focus, .contact-page-wrapper .contact-page-content .contact-form textarea:hover {
  outline: none;
  border-bottom: 0.1em solid hsl(26deg, 66%, 41%);
}
.contact-page-wrapper .contact-page-content .contact-form input[type=file], .contact-page-wrapper .contact-page-content .contact-form textarea[type=file] {
  opacity: 0.8;
  cursor: pointer;
  padding-top: 0.25em;
}
.contact-page-wrapper .contact-page-content .contact-form input[type=file]:focus, .contact-page-wrapper .contact-page-content .contact-form textarea[type=file]:focus {
  border-bottom: none;
}
.contact-page-wrapper .contact-page-content .contact-form input[type=file]::-webkit-file-upload-button, .contact-page-wrapper .contact-page-content .contact-form textarea[type=file]::-webkit-file-upload-button {
  display: none;
}
.contact-page-wrapper .contact-page-content .contact-form input[type=file]::file-selector-button, .contact-page-wrapper .contact-page-content .contact-form textarea[type=file]::file-selector-button {
  display: none;
}
.contact-page-wrapper .contact-page-content .contact-form textarea {
  margin-top: 0.25em;
  height: 25%;
  resize: none;
  padding: 0.5em;
  overflow-y: scroll;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover*/
}
.contact-page-wrapper .contact-page-content .contact-form textarea::-webkit-scrollbar {
  width: 0.5vw;
}
.contact-page-wrapper .contact-page-content .contact-form textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px hsl(190deg, 7%, 84%);
  border-radius: 10px;
}
.contact-page-wrapper .contact-page-content .contact-form textarea::-webkit-scrollbar-thumb {
  background: hsl(190deg, 7%, 84%);
  border-radius: 10px;
}
.contact-page-wrapper .contact-page-content .contact-form textarea::-webkit-scrollbar-thumb:hover {
  background: hsl(26deg, 66%, 41%);
  border-radius: 10px;
}
.contact-page-wrapper .contact-page-content .contact-form input[type=submit] {
  font-size: 1em;
  margin-top: 0.5em;
  border: none;
  cursor: pointer;
  transition: background-color 500ms;
}
.contact-page-wrapper .contact-page-content .contact-form input[type=submit]:hover {
  background-color: rgba(174, 95, 36, 0.5);
}
.contact-page-wrapper .contact-page-content .contact-form .back-to-contact {
  display: none;
}
.contact-page-wrapper .contact-page-content .main-nav-second {
  display: none;
}
.contact-page-wrapper .page-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 80%;
  height: 7vh;
  color: hsl(190deg, 7%, 84%);
}
.contact-page-wrapper .page-footer .copyright {
  z-index: 10;
  position: absolute;
  left: 5vw;
  bottom: 0px;
  display: inline-block;
  height: 100%;
  font-size: 2vh;
  padding: 2vh 0;
  transition: color 500ms;
}
.contact-page-wrapper .page-footer .copyright:hover {
  color: hsl(26deg, 66%, 41%);
}
.contact-page-wrapper .second-socials {
  display: none;
}

@font-face {
  font-family: "Academy Engraved LET";
  src: url(../fonts/Academy_Engraved_LET_Plain.ttf) format("ttf");
  src: url(../fonts/Academy_Engraved_LET_Plain.woff) format("woff");
}
@font-face {
  font-family: "Sorts Mill Goudy";
  src: url(../fonts/Sorts_Mill_Goudy_Italic.ttf) format("ttf");
  src: url(../fonts/Sorts_Mill_Goudy_Italic.woff) format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Sorts Mill Goudy";
  src: url(../fonts/Sorts_Mill_Goudy_Regular.ttf) format("ttf");
  src: url(../fonts/Sorts_Mill_Goudy_Regular.woff) format("woff");
  font-style: normal;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: Sorts Mill Goudy;
}

a {
  transition: color 500ms;
}
a:hover {
  color: hsl(26deg, 66%, 41%);
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .page-wrapper .page-content .main-nav {
    top: 2vh;
    right: 8vw;
  }
  .page-wrapper .page-content .main-nav .nav-item {
    display: inline-block;
    margin-left: 0.5em;
  }
  .page-wrapper .next-page, .page-wrapper .previous-page {
    display: none;
  }
  .landing-page-wrapper .landing-page-content .title {
    left: 15vw;
  }
  .about-page-wrapper .about-page-content .about-text {
    top: 12.5vh;
    width: 90vw;
    height: 77.5vh;
    font-size: 1.4em;
    padding-right: 1em;
  }
  .about-page-wrapper .about-page-content .about-text::-webkit-scrollbar {
    width: 0.5em;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper {
    top: 12.5vh;
    width: 90vw;
    height: 77.5vh;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-images {
    position: absolute;
    bottom: 0;
    left: 0%;
    height: 70%;
    width: 100%;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-description {
    right: 2%;
    width: 96%;
    height: 26%;
    padding-top: 5%;
    font-size: 1.5em;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .previous-item, .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .next-item {
    font-size: 4vh;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .previous-item i {
    position: relative;
    left: 0.1em;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .next-item i {
    position: relative;
    right: 0.1em;
  }
  .contact-page-wrapper {
    height: 200vh;
  }
  .contact-page-wrapper .contact-page-content .contact-info {
    height: 38.75%;
    top: 12.5vh;
    left: 12.5%;
    width: 75%;
  }
  .contact-page-wrapper .contact-page-content .contact-info .text p {
    font-size: 3.5vh;
  }
  .contact-page-wrapper .contact-page-content .contact-info .to-contact-form {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 20%;
    width: 60%;
    text-align: center;
    color: hsl(190deg, 7%, 84%);
    font-size: 3vh;
    font-family: Sorts Mill Goudy;
    padding: 1vh;
    background-color: rgba(29, 31, 42, 0.8);
    transition: background-color 500ms;
  }
  .contact-page-wrapper .contact-page-content .contact-info .to-contact-form:hover {
    background-color: rgba(174, 95, 36, 0.5);
  }
  .contact-page-wrapper .contact-page-content .contact-form {
    margin-top: -12.5vh;
    height: 38.75%;
    bottom: 10vh;
    left: 5%;
    padding-top: 10%;
    width: 90%;
    border: none;
    font-size: 2.75vh;
  }
  .contact-page-wrapper .contact-page-content .contact-form input[type=submit] {
    position: absolute;
    bottom: 0px;
    left: 10%;
    width: 80%;
  }
  .contact-page-wrapper .contact-page-content .contact-form .back-to-contact {
    display: block;
    position: absolute;
    top: 0px;
    left: 20%;
    width: 60%;
    text-align: center;
    color: hsl(190deg, 7%, 84%);
    font-size: 2.5vh;
    font-family: Sorts Mill Goudy;
    padding: 1vh;
    background-color: rgba(29, 31, 42, 0.8);
    transition: background-color 500ms;
  }
  .contact-page-wrapper .contact-page-content .contact-form .back-to-contact:hover {
    background-color: rgba(174, 95, 36, 0.5);
  }
  .contact-page-wrapper .contact-page-content .main-nav-second {
    display: block;
    top: 50%;
  }
  .contact-page-wrapper .second-socials {
    display: block;
    bottom: 50.5%;
  }
}
@media screen and (max-width: 766px) {
  .page-wrapper {
    overflow: hidden;
  }
  .page-wrapper .page-content .main-nav {
    top: 0px;
    right: 0px;
    width: 100%;
    height: 15vh;
  }
  .page-wrapper .page-content .main-nav .nav-item {
    display: inline-block;
    margin-left: 4%;
    margin-top: 1vh;
    width: 44%;
    height: 6vh;
    font-size: 4vh;
    text-align: center;
  }
  .page-wrapper .next-page, .page-wrapper .previous-page {
    display: none;
  }
  .page-wrapper .socials {
    width: 100%;
  }
  .landing-page-wrapper .landing-page-content .title {
    left: 15vw;
  }
  .about-page-wrapper .about-page-content .about-text {
    top: 17.5vh;
    width: 90vw;
    height: 70vh;
    font-size: 1.4em;
    padding-right: 1em;
  }
  .about-page-wrapper .about-page-content .about-text img {
    width: 45%;
    margin-bottom: 0px;
  }
  .about-page-wrapper .about-page-content .about-text img.float-left {
    float: left;
    margin-right: 0.5em;
  }
  .about-page-wrapper .about-page-content .about-text img.float-right {
    float: right;
    margin-left: 0.5em;
  }
  .about-page-wrapper .about-page-content .about-text::-webkit-scrollbar {
    width: 0.5em;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper {
    top: 17.5vh;
    width: 90vw;
    height: 70vh;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item {
    top: 10%;
    height: 90%;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-images {
    position: absolute;
    bottom: 5%;
    left: 0%;
    height: 60%;
    width: 100%;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-images img.top.left {
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-images img.top.left:hover {
    width: 100%;
    height: 100%;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-images img.right, .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-images img.bottom {
    display: none;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-description {
    right: 2%;
    top: 0%;
    width: 96%;
    height: 35%;
    padding-top: 0%;
    font-size: 1.5em;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-description .detail {
    position: relative;
    bottom: 0.5em;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .previous-item, .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .next-item {
    height: 10%;
    width: 50%;
    font-size: 4vh;
    color: rgba(211, 216, 217, 0.5);
    padding: 0;
    padding-top: 0.3em;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .previous-item {
    text-align: left;
    padding-left: 0.5em;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .next-item {
    text-align: right;
    padding-right: 0.5em;
  }
  .contact-page-wrapper {
    height: 200vh;
  }
  .contact-page-wrapper .contact-page-content .contact-info {
    top: 17.5vh;
    top: 17.5vh;
    left: 5%;
    height: 35%;
    width: 90%;
  }
  .contact-page-wrapper .contact-page-content .contact-info .text p {
    font-size: 2.75vh;
  }
  .contact-page-wrapper .contact-page-content .contact-info .to-contact-form {
    display: block;
    position: absolute;
    bottom: 1em;
    left: 10%;
    width: 80%;
    text-align: center;
    color: hsl(190deg, 7%, 84%);
    font-size: 3vh;
    font-family: Sorts Mill Goudy;
    padding: 1vh;
    background-color: rgba(29, 31, 42, 0.8);
    transition: background-color 500ms;
  }
  .contact-page-wrapper .contact-page-content .contact-info .to-contact-form:hover {
    background-color: rgba(174, 95, 36, 0.5);
  }
  .contact-page-wrapper .contact-page-content .contact-form {
    margin-top: -17.5vh;
    bottom: 10vh;
    left: 5%;
    width: 90%;
    height: 35%;
    padding-top: 15%;
    font-size: 2.5vh;
    border: none;
  }
  .contact-page-wrapper .contact-page-content .contact-form .back-to-contact {
    display: block;
    position: absolute;
    top: 0px;
    left: 10%;
    width: 80%;
    text-align: center;
    color: hsl(190deg, 7%, 84%);
    font-size: 2vh;
    font-family: Sorts Mill Goudy;
    padding: 1vh;
    background-color: rgba(29, 31, 42, 0.8);
    transition: background-color 500ms;
  }
  .contact-page-wrapper .contact-page-content .contact-form .back-to-contact:hover {
    background-color: rgba(174, 95, 36, 0.5);
  }
  .contact-page-wrapper .contact-page-content .contact-form input[type=submit] {
    position: absolute;
    bottom: 0px;
    left: 10%;
    width: 80%;
  }
  .contact-page-wrapper .contact-page-content .contact-form textarea {
    height: 30%;
  }
  .contact-page-wrapper .contact-page-content .main-nav-second {
    display: block;
    top: 50%;
  }
  .contact-page-wrapper .second-socials {
    display: block;
    bottom: 50.5%;
  }
}
@media screen and (max-height: 766px) and (orientation: landscape) {
  .page-wrapper {
    overflow: hidden;
  }
  .page-wrapper .page-content .main-nav {
    top: 2vh;
    right: 0px;
    width: 15vw;
    height: 85vh;
  }
  .page-wrapper .page-content .main-nav .nav-item {
    display: block;
    width: 100%;
    height: 6vh;
    font-size: 6vh;
    text-align: left;
    margin-bottom: 1em;
  }
  .page-wrapper .next-page, .page-wrapper .previous-page {
    display: none;
  }
  .page-wrapper .socials {
    width: 100%;
    height: 10vh;
    font-size: 8vh;
    bottom: 2vh;
  }
  .landing-page-wrapper .landing-page-content .title {
    left: 15vw;
  }
  .landing-page-wrapper .landing-page-content .title .title-header {
    font-size: 14vh;
  }
  .landing-page-wrapper .landing-page-content .title .title-subheader {
    font-size: 7vh;
  }
  .about-page-wrapper .about-page-content .about-text {
    top: 2vh;
    left: 2vh;
    width: 80vw;
    height: 96vh;
    font-size: 1.4em;
    padding-right: 1em;
  }
  .about-page-wrapper .about-page-content .about-text img {
    width: 45%;
    margin-bottom: 0px;
  }
  .about-page-wrapper .about-page-content .about-text img.float-left {
    float: left;
    margin-right: 0.5em;
  }
  .about-page-wrapper .about-page-content .about-text img.float-right {
    float: right;
    margin-left: 0.5em;
  }
  .about-page-wrapper .about-page-content .about-text::-webkit-scrollbar {
    width: 0.5em;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper {
    top: 2vh;
    left: 2vh;
    width: 80vw;
    height: 96vh;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item {
    top: 0px;
    left: 7.5%;
    height: 100%;
    width: 85%;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-images {
    position: absolute;
    bottom: 5%;
    left: 5%;
    height: 90%;
    width: 60%;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-images img.top.left {
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-images img.top.left:hover {
    width: 100%;
    height: 100%;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-images img.right, .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-images img.bottom {
    display: none;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-description {
    right: 5%;
    top: 5%;
    max-width: 25%;
    height: 90%;
    padding: 0px;
    padding-top: 15%;
    text-align: center;
    font-size: 1em;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .carousel-item .carousel-item-description .detail {
    position: relative;
    font-size: 1.7em;
    bottom: 0.5em;
  }
  .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .previous-item, .portfolio-page-wrapper .portfolio-page-content .carousel-wrapper .next-item {
    height: 100%;
    width: 7.5%;
    font-size: 8vh;
    color: rgba(211, 216, 217, 0.5);
    padding: 0;
    padding-top: 25%;
  }
  .contact-page-wrapper {
    height: 200vh;
  }
  .contact-page-wrapper .contact-page-content .contact-info {
    top: 2vh;
    left: 2vh;
    width: 80vw;
    height: 96vh;
  }
  .contact-page-wrapper .contact-page-content .contact-info .logo {
    position: absolute;
    left: 5%;
    top: 25%;
    width: 40%;
  }
  .contact-page-wrapper .contact-page-content .contact-info .text {
    position: absolute;
    right: 5%;
    top: 15%;
    width: 45%;
  }
  .contact-page-wrapper .contact-page-content .contact-info .text p {
    font-size: 5vh;
  }
  .contact-page-wrapper .contact-page-content .contact-info .to-contact-form {
    display: block;
    position: absolute;
    bottom: 1em;
    left: 10%;
    width: 80%;
    text-align: center;
    color: hsl(190deg, 7%, 84%);
    font-size: 5vh;
    font-family: Sorts Mill Goudy;
    padding: 1vh;
    background-color: rgba(29, 31, 42, 0.8);
    transition: background-color 500ms;
  }
  .contact-page-wrapper .contact-page-content .contact-info .to-contact-form:hover {
    background-color: rgba(174, 95, 36, 0.5);
  }
  .contact-page-wrapper .contact-page-content .contact-form {
    margin-top: -17.5vh;
    bottom: 10vh;
    left: 2vh;
    width: 80vw;
    height: 88vh;
    padding-top: 5%;
    font-size: 4vh;
    border: none;
  }
  .contact-page-wrapper .contact-page-content .contact-form .back-to-contact {
    display: block;
    position: absolute;
    top: 0px;
    left: 10%;
    width: 80%;
    text-align: center;
    color: hsl(190deg, 7%, 84%);
    font-size: 3.5vh;
    font-family: Sorts Mill Goudy;
    padding: 1vh;
    background-color: rgba(29, 31, 42, 0.8);
    transition: background-color 500ms;
  }
  .contact-page-wrapper .contact-page-content .contact-form .back-to-contact:hover {
    background-color: rgba(174, 95, 36, 0.5);
  }
  .contact-page-wrapper .contact-page-content .contact-form label {
    width: 35%;
    margin-bottom: 0.5em;
    margin-top: 0px;
  }
  .contact-page-wrapper .contact-page-content .contact-form label.vzkaz {
    position: absolute;
    left: 45%;
    top: 15%;
  }
  .contact-page-wrapper .contact-page-content .contact-form input {
    width: 35%;
    margin-bottom: 0.5em;
    line-height: 2em;
    font-size: 3.5vh;
    height: auto;
  }
  .contact-page-wrapper .contact-page-content .contact-form input[type=submit] {
    position: absolute;
    bottom: 0px;
    right: 7.5%;
    left: auto;
    width: 45%;
  }
  .contact-page-wrapper .contact-page-content .contact-form textarea {
    position: absolute;
    top: calc(15% + 1.7em);
    right: 5%;
    width: 50%;
    height: 60%;
  }
  .contact-page-wrapper .contact-page-content .main-nav-second {
    display: block;
    top: 50%;
  }
  .contact-page-wrapper .second-socials {
    display: block;
    bottom: 50.5%;
  }
  .contact-page-wrapper .page-footer .copyright {
    font-size: 3vh;
  }
}/*# sourceMappingURL=main.css.map */