$max-width: 1200px;
$max-header-width: 1600px;
$max-footer-width: 1600px;
$main-header-height: 250px;
$main-footer-height: 50px;

$font-decor: Academy Engraved LET;

$font-plain: Sorts Mill Goudy;

$main-nav-font-size: 0.15 * $main-header-height;

$primary-color: hsl(130 5% 24%);
$secondary-color: hsl(108, 24%, 48%);
$tertiary-color: hsl(30, 20%, 96%);

$text-light-color: $tertiary-color;
$text-dark-color: $primary-color;