.page-header-wrapper {
    width: 100%;
    height: $main-header-height;
    background-color: $primary-color;
}

.page-header {
    position: relative;
    width: 100%;
    max-width: $max-header-width;
    margin: 0 auto;

    a.logo {
        display: inline-block;
        vertical-align: middle;
        height: $main-header-height;

        img {
            display: inline-block;
            vertical-align: middle;
            height: calc(.9*$main-header-height);
            margin: calc(.05*$main-header-height);
        }
    }

    nav {
        position: absolute;
        right: 1em;
        display: inline-block;
        height: $main-header-height;

        a.nav-item {
            display: inline-block;

            color: $text-light-color;

            // height: $main-header-height;
            height: 100%;

            padding: calc($main-header-height / 2 - 1em / 2) .5em;

            vertical-align: middle;

            font-family: $font-decor;
            font-size: calc(0.25 * $main-header-height);

            text-decoration: none;

            transition: color 250ms ease-in-out;

            &:hover, &:focus {
                color: $secondary-color;
                transition: color 250ms ease-in-out;
            }
            
        }
    }
}