html, body, div, span,
h1, h2, h3, h4, h5, h6, q, blockquote,
a, p, u, em, i, b, strong, img,
ol, ul, li,
form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  color: inherit;
  text-decoration: none;
}

article, aside, footer, header, nav, section, main {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.landing-page-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.landing-page-wrapper img.background-image {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom center;
     object-position: bottom center;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}
.landing-page-wrapper .landing-page-content {
  position: relative;
  height: 100%;
  width: 100%;
}
.landing-page-wrapper .landing-page-content .title {
  z-index: 10;
  position: absolute;
  top: 45vh;
  left: 5vw;
  color: hsl(190deg, 7%, 84%);
  font-family: Sorts Mill Goudy;
}
.landing-page-wrapper .landing-page-content .title .title-header {
  font-size: 7.5vh;
}
.landing-page-wrapper .landing-page-content .title .title-subheader {
  font-size: 3.5vh;
}
.landing-page-wrapper .landing-page-content .main-nav {
  z-index: 10;
  position: absolute;
  right: 5vw;
  top: 15vh;
}
.landing-page-wrapper .landing-page-content .main-nav .nav-item {
  display: block;
  position: relative;
  color: hsl(190deg, 7%, 84%);
  font-family: Sorts Mill Goudy;
  font-size: 4vh;
  padding: 0.25em 0;
  transition: color 500ms;
}
.landing-page-wrapper .landing-page-content .main-nav .nav-item:hover {
  color: hsl(26deg, 66%, 41%);
}
.landing-page-wrapper .next-page {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 7vh;
  color: hsl(190deg, 7%, 84%);
  font-size: 5vh;
  text-align: center;
  transition: color 500ms, background-color 500ms;
}
.landing-page-wrapper .next-page i {
  position: absolute;
  bottom: 1vh;
}
.landing-page-wrapper .next-page:hover {
  color: hsl(26deg, 66%, 41%);
  background-color: rgba(211, 216, 217, 0.1);
}

.about-page-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: hsl(231deg, 18%, 14%);
}
.about-page-wrapper img.background-image {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom center;
     object-position: bottom center;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}
.about-page-wrapper .about-page-content .main-nav {
  z-index: 10;
  position: absolute;
  right: 5vw;
  top: 15vh;
}
.about-page-wrapper .about-page-content .main-nav .nav-item {
  display: block;
  position: relative;
  color: hsl(190deg, 7%, 84%);
  font-family: Sorts Mill Goudy;
  font-size: 4vh;
  padding: 0.25em 0;
  transition: color 500ms;
}
.about-page-wrapper .about-page-content .main-nav .nav-item:hover {
  color: hsl(26deg, 66%, 41%);
}
.about-page-wrapper .about-page-content .main-nav .active-nav-item {
  color: hsl(26deg, 66%, 41%);
  cursor: default;
}
.about-page-wrapper .next-page {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.about-page-wrapper .previous-page {
  position: absolute;
  top: 0px;
  left: 0px;
}
.about-page-wrapper .next-page, .about-page-wrapper .previous-page {
  z-index: 10;
  width: 100%;
  height: 7vh;
  color: hsl(190deg, 7%, 84%);
  font-size: 5vh;
  text-align: center;
  transition: color 500ms, background-color 500ms;
}
.about-page-wrapper .next-page i, .about-page-wrapper .previous-page i {
  position: absolute;
  bottom: 1vh;
}
.about-page-wrapper .next-page:hover, .about-page-wrapper .previous-page:hover {
  color: hsl(26deg, 66%, 41%);
  background-color: rgba(211, 216, 217, 0.1);
}

.portfolio-page-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: hsl(231deg, 18%, 14%);
}
.portfolio-page-wrapper img.background-image {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom center;
     object-position: bottom center;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}
.portfolio-page-wrapper .portfolio-page-content .main-nav {
  z-index: 10;
  position: absolute;
  right: 5vw;
  top: 15vh;
}
.portfolio-page-wrapper .portfolio-page-content .main-nav .nav-item {
  display: block;
  position: relative;
  color: hsl(190deg, 7%, 84%);
  font-family: Sorts Mill Goudy;
  font-size: 4vh;
  padding: 0.25em 0;
  transition: color 500ms;
}
.portfolio-page-wrapper .portfolio-page-content .main-nav .nav-item:hover {
  color: hsl(26deg, 66%, 41%);
}
.portfolio-page-wrapper .portfolio-page-content .main-nav .active-nav-item {
  color: hsl(26deg, 66%, 41%);
  cursor: default;
}
.portfolio-page-wrapper .next-page {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.portfolio-page-wrapper .previous-page {
  position: absolute;
  top: 0px;
  left: 0px;
}
.portfolio-page-wrapper .next-page, .portfolio-page-wrapper .previous-page {
  z-index: 10;
  width: 100%;
  height: 7vh;
  color: hsl(190deg, 7%, 84%);
  font-size: 5vh;
  text-align: center;
  transition: color 500ms, background-color 500ms;
}
.portfolio-page-wrapper .next-page i, .portfolio-page-wrapper .previous-page i {
  position: absolute;
  bottom: 1vh;
}
.portfolio-page-wrapper .next-page:hover, .portfolio-page-wrapper .previous-page:hover {
  color: hsl(26deg, 66%, 41%);
  background-color: rgba(211, 216, 217, 0.1);
}

.contact-page-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: hsl(231deg, 18%, 14%);
}
.contact-page-wrapper img.background-image {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom center;
     object-position: bottom center;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}
.contact-page-wrapper .contact-page-content .main-nav {
  z-index: 10;
  position: absolute;
  right: 5vw;
  top: 15vh;
}
.contact-page-wrapper .contact-page-content .main-nav .nav-item {
  display: block;
  position: relative;
  color: hsl(190deg, 7%, 84%);
  font-family: Sorts Mill Goudy;
  font-size: 4vh;
  padding: 0.25em 0;
  transition: color 500ms;
}
.contact-page-wrapper .contact-page-content .main-nav .nav-item:hover {
  color: hsl(26deg, 66%, 41%);
}
.contact-page-wrapper .contact-page-content .main-nav .active-nav-item {
  color: hsl(26deg, 66%, 41%);
  cursor: default;
}
.contact-page-wrapper .next-page {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.contact-page-wrapper .previous-page {
  position: absolute;
  top: 0px;
  left: 0px;
}
.contact-page-wrapper .next-page, .contact-page-wrapper .previous-page {
  z-index: 10;
  width: 100%;
  height: 7vh;
  color: hsl(190deg, 7%, 84%);
  font-size: 5vh;
  text-align: center;
  transition: color 500ms, background-color 500ms;
}
.contact-page-wrapper .next-page i, .contact-page-wrapper .previous-page i {
  position: absolute;
  bottom: 1vh;
}
.contact-page-wrapper .next-page:hover, .contact-page-wrapper .previous-page:hover {
  color: hsl(26deg, 66%, 41%);
  background-color: rgba(211, 216, 217, 0.1);
}
.contact-page-wrapper .page-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 7vh;
  color: hsl(190deg, 7%, 84%);
}
.contact-page-wrapper .page-footer .copyright {
  position: absolute;
  left: 5vw;
  display: inline-block;
  height: 100%;
  font-size: 3vh;
  padding: 2vh 0;
  transition: color 500ms;
}
.contact-page-wrapper .page-footer .copyright:hover {
  color: hsl(26deg, 66%, 41%);
}
.contact-page-wrapper .page-footer .socials {
  position: absolute;
  right: 5vw;
  display: inline-block;
  height: 100%;
  font-size: 4vh;
  padding: 1.5vh 0;
}
.contact-page-wrapper .page-footer .socials a {
  transition: color 500ms;
  margin-left: 0.5vw;
}
.contact-page-wrapper .page-footer .socials a:hover {
  color: hsl(26deg, 66%, 41%);
}

@font-face {
  font-family: "Academy Engraved LET";
  src: url(../fonts/Academy_Engraved_LET_Plain.ttf) format("ttf");
  src: url(../fonts/Academy_Engraved_LET_Plain.woff) format("woff");
}
@font-face {
  font-family: "Sorts Mill Goudy";
  src: url(../fonts/Sorts_Mill_Goudy_Italic.ttf) format("ttf");
  src: url(../fonts/Sorts_Mill_Goudy_Italic.woff) format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Sorts Mill Goudy";
  src: url(../fonts/Sorts_Mill_Goudy_Regular.ttf) format("ttf");
  src: url(../fonts/Sorts_Mill_Goudy_Regular.woff) format("woff");
  font-style: normal;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */