.about-page-wrapper {
    .about-page-content {
        .about-text {
            position: absolute;
            top: 10vh;
            left: 5vw;

            overflow-y: scroll;
            /* width */
            &::-webkit-scrollbar {
                width: .5vw;
            }
            
            /* Track */
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px $text-light-color;
                border-radius: 10px;
            }
            
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $text-light-color;
                border-radius: 10px;
            }

            /* Handle on hover*/
            &::-webkit-scrollbar-thumb:hover {
                background: $secondary-color;
                border-radius: 10px;
            }


            width: 75vw;
            // max-width: $max-width;
            height: 80vh;

            color: $text-light-color;
            font-family: $font-plain;

            // border: 2px solid $text-light-color;
            
            font-size: 1.5vw;
            line-height: 1.5em;

            padding-right: 1vw;

            h1 {
                font-size: 1.2em;
                margin-bottom: 1em;
            }

            h2 {
                margin-top: 1em;

                a {
                    font-weight: bold;

                    transition: color 500ms;

                    &:hover{
                        color: $secondary-color;
                    }
                }
            }

            p {
                text-align: justify;
                margin-bottom: 1em;
                width: auto;
            }

            img {
                width: 35%;
                
                margin-bottom: 1em;
                
                &.float-left{
                    float: left;
                    margin-right: 2em;
                }

                &.float-right{
                    float: right;
                    margin-left: 2em;
                }
            }
        }
    }
}