.landing-page-wrapper {
    .landing-page-content {
        .title {
            z-index: 10;
    
            position: absolute;
            top: 45vh;
            left: 5vw;
            
            
            color: $text-light-color;
            font-family: $font-plain;
    
            .title-header {
                font-size: 7.5vh;
            }
    
            .title-subheader {
                font-size: 3.5vh;
            }
    
        }
    }
}