@media screen and (max-height: 766px) and (orientation: landscape){
    
    // Layout
    .page-wrapper {
        overflow: hidden;
        .page-content {
            .main-nav {
                top: 2vh;
                right: 0px;
                width: 15vw;
                height: 85vh;

                // border: 1px solid $text-light-color;
    
                .nav-item {
                    display: block;
                    width: 100%;
                    height: 6vh;
                    font-size: 6vh;
                    // border: 1px solid $text-light-color;
                    text-align: left;
                    margin-bottom: 1em;
                    // text-decoration: underline;
                    // text-decoration-style: solid;
                    // text-decoration-thickness: .05em;
                    // text-underline-offset: .25em;
                }
            }
        }
    
        .next-page, .previous-page {
            display: none;
        }

        .socials {
            width: 100%;
            height: 10vh;
            font-size: 8vh;
            bottom: 2vh;

        }
    }

    // Landing page
    .landing-page-wrapper {
        .landing-page-content {
            .title {
                left: 15vw;
                .title-header {
                    font-size: 14vh;
                }
        
                .title-subheader {
                    font-size: 7vh;
                }
            }
        }
    }

    // About
    .about-page-wrapper {
        .about-page-content {
            .about-text {
                top: 2vh;
                left: 2vh;

                width: 80vw;
                height: 96vh;
                font-size: 1.4em;

                img {
                    width: 45%;
                    
                    margin-bottom: 0px;
                    
                    &.float-left{
                        float: left;
                        margin-right: .5em;
                    }
    
                    &.float-right{
                        float: right;
                        margin-left: .5em;
                    }
                }

                padding-right: 1em;

                &::-webkit-scrollbar {
                    width: .5em;
                }
            }
        }
    }

    // Portfolio
    .portfolio-page-wrapper {
        .portfolio-page-content {
            .carousel-wrapper {
                top: 2vh;
                left: 2vh;

                width: 80vw;
                height: 96vh;

                .carousel-item {
                    top: 0px;
                    left: 7.5%;
                    
                    height: 100%;
                    width: 85%;

                    .carousel-item-images {

                        position: absolute;
                        
                        bottom: 5%;
                        left: 5%;

                        height: 90%;
                        width: 60%;
                        
                        img.top.left {
                            width: 100%;
                            height: 100%;
                            left: 0px;
                            bottom: 0px;

                            &:hover {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        img.right, img.bottom {
                            display: none;
                        }
                    }

                    .carousel-item-description {
                        right: 5%;
                        top: 5%;
                    
                        max-width: 25%;
                        height: 90%;

                        
                        padding: 0px;
                        padding-top: 15%;
                        text-align: center;

                        font-size: 1em;

                        .detail {
                            position: relative;
                            font-size: 1.7em;
                            bottom: .5em;
                        }
                        
                    }
                }

                .previous-item, .next-item {
                    height: 100%;
                    width: 7.5%;

                    font-size: 8vh;
                    color: transparentize($text-light-color, .5);
                    // border: 1px solid $text-light-color;

                    padding: 0;
                    padding-top: 25%;
                }

                .previous-item {
                    // text-align: left;
                    // padding-left: .5em;
                }

                .next-item {
                    // text-align: right;
                    // padding-right: .5em;
                }
            }
        }
    }

    // Contact
    .contact-page-wrapper {
        height: 200vh;
        .contact-page-content {
            .contact-info {
                top: 2vh;
                left: 2vh;

                width: 85vw;
                height: 96vh;

                .logo {
                    position: absolute;
                    left: 5%;
                    top: 30%;
                    width: 35%;
                }

                .text {
                    position: absolute;
                    right: 5%;
                    top: 15%;
                    width: 50%;
                    p {
                        font-size: 5vh;
                    }
                }

                .to-contact-form {
                    display: block;
                    
                    position: absolute;
                    bottom: 1em;
                    left: 10%;

                    width: 80%;
                    
                    text-align: center;
                    color: $text-light-color;
                    font-size: 5vh;
                    font-family: $font-plain;
                    padding: 1vh;

                    background-color: transparentize($primary-color, .2);
                    
                    transition: background-color 500ms;                    
                    &:hover {
                        background-color: transparentize($secondary-color, .5);
                    }
                }
            }

            .contact-form {
                margin-top: -17.5vh;
                bottom: 10vh;
                left: 2vh;

                width: 80vw;
                height: 88vh;

                padding-top: 5%;

                font-size: 4vh;

                .back-to-contact {
                    display: block;
                    
                    position: absolute;
                    top: 0px;
                    left: 10%;

                    width: 80%;
                    
                    text-align: center;
                    color: $text-light-color;
                    font-size: 3.5vh;
                    font-family: $font-plain;
                    padding: 1vh;

                    background-color: transparentize($primary-color, .2);
                    
                    transition: background-color 500ms;                    
                    &:hover {
                        background-color: transparentize($secondary-color, .5);
                    }
                }

                label {
                    width: 35%;
                    margin-bottom: .5em;
                    margin-top: 0px;
                    // display: inline-block;
                    // text-align: right;

                    &.vzkaz {
                        position: absolute;
                        left: 45%;
                        top: 15%;
                    }
                }

                input {
                    width: 35%;
                    margin-bottom: .5em;
                    line-height: 2em;
                    // display: inline-block;
                    font-size: 3.5vh;
                    height: auto;
                }

                input[type=submit] {
                    position: absolute;
                    bottom: 0px;
                    right: 7.5%;
                    left: auto;
                    width: 45%;
                }

                textarea {
                    position: absolute;
                    top: calc(15% + 1.7em);
                    right: 5%;
                    width: 50%;
                    height: 60%;
                }

                border: none;                
            }

            .main-nav-second {
                display: block;
                top: 50%;
            }
        }

        .second-socials {
            display: block;
            bottom: 50.5%;
        }

        .page-footer {
            .copyright {
                font-size: 3vh;
            }
        }
    }
}