@media screen and (max-width: 766px) {
    
    // Layout
    .page-wrapper {
        overflow: hidden;
        .page-content {
            .main-nav {
                top: 0px;
                right: 0px;
                width: 100%;
                height: 15vh;

                // border: 1px solid $text-light-color;
    
                .nav-item {
                    display: inline-block;
                    margin-left: 4%;
                    margin-top: 1vh;
                    width: 44%;
                    height: 6vh;
                    font-size: 4vh;
                    // border: 1px solid $text-light-color;
                    text-align: center;
                    // text-decoration: underline;
                    // text-decoration-style: solid;
                    // text-decoration-thickness: .05em;
                    // text-underline-offset: .25em;
                }
            }
        }
    
        .next-page, .previous-page {
            display: none;
        }

        .socials {
            width: 100%;
        }
    }

    // Landing page
    .landing-page-wrapper {
        .landing-page-content {
            .title {
                left: 15vw;
            }
        }
    }

    // About
    .about-page-wrapper {
        .about-page-content {
            .about-text {
                top: 17.5vh;

                width: 90vw;
                height: 70vh;
                font-size: 1.4em;

                img {
                    width: 45%;
                    
                    margin-bottom: 0px;
                    
                    &.float-left{
                        float: left;
                        margin-right: .5em;
                    }
    
                    &.float-right{
                        float: right;
                        margin-left: .5em;
                    }
                }

                padding-right: 1em;

                &::-webkit-scrollbar {
                    width: .5em;
                }
            }
        }
    }

    // Portfolio
    .portfolio-page-wrapper {
        .portfolio-page-content {
            .carousel-wrapper {
                top: 17.5vh;

                width: 90vw;
                height: 70vh;

                .carousel-item {
                    top: 10%;
                    
                    height: 90%;

                    .carousel-item-images {

                        position: absolute;
                        
                        bottom: 5%;
                        left: 0%;

                        height: 60%;
                        width: 100%;
                        
                        img.top.left {
                            width: 100%;
                            height: 100%;
                            left: 0px;
                            bottom: 0px;

                            &:hover {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        img.right, img.bottom {
                            display: none;
                        }
                    }

                    .carousel-item-description {
                        right: 2%;
                        top: 0%;
                    
                        width: 96%;
                        height: 35%;

                        padding-top: 0%;

                        font-size: 1.1em;

                        .detail {
                            position: relative;
                            bottom: .5em;
                        }
                        
                    }
                }

                .previous-item, .next-item {
                    height: 10%;
                    width: 50%;

                    font-size: 4vh;
                    color: transparentize($text-light-color, .5);
                    // border: 1px solid $text-light-color;

                    padding: 0;
                    padding-top: .3em;
                }

                .previous-item {
                    text-align: left;
                    padding-left: .5em;
                }

                .next-item {
                    text-align: right;
                    padding-right: .5em;
                }
            }
        }
    }

    // Contact
    .contact-page-wrapper {
        height: 200vh;
        .contact-page-content {
            .contact-info {
                top: 17.5vh;
                top: 17.5vh;
                left: 5%;

                height: 35%;
                width: 90%;

                .text {
                    p {
                        font-size: 2.75vh;
                    }
                }

                .to-contact-form {
                    display: block;
                    
                    position: absolute;
                    bottom: 1em;
                    left: 10%;

                    width: 80%;
                    
                    text-align: center;
                    color: $text-light-color;
                    font-size: 3vh;
                    font-family: $font-plain;
                    padding: 1vh;

                    background-color: transparentize($primary-color, .2);
                    
                    transition: background-color 500ms;                    
                    &:hover {
                        background-color: transparentize($secondary-color, .5);
                    }
                }
            }

            .contact-form {
                margin-top: -17.5vh;
                bottom: 10vh;
                left: 5%;

                width: 90%;
                height: 35%;
                padding-top: 15%;

                font-size: 2.5vh;

                .back-to-contact {
                    display: block;
                    
                    position: absolute;
                    top: 0px;
                    left: 10%;

                    width: 80%;
                    
                    text-align: center;
                    color: $text-light-color;
                    font-size: 2vh;
                    font-family: $font-plain;
                    padding: 1vh;

                    background-color: transparentize($primary-color, .2);
                    
                    transition: background-color 500ms;                    
                    &:hover {
                        background-color: transparentize($secondary-color, .5);
                    }
                }

                input[type=submit] {
                    position: absolute;
                    bottom: 0px;
                    left: 10%;

                    width: 80%;
                }

                textarea {
                    height: 30%;
                }

                border: none;                
            }

            .main-nav-second {
                display: block;
                top: 50%;
            }
        }

        .second-socials {
            display: block;
            bottom: 50.5%;
        }
    }
}