.landing-page-wrapper {
    position: relative;
    
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    

    img.background-image {
        z-index: 0;

        object-fit: cover;
        object-position: bottom center;
        max-width: 100%;
        min-height: 100%;
        filter: brightness(50%);
    }

    .landing-page-content {

        max-width: $max-width-wide;
       
        .title {
            z-index: 10;
    
            position: absolute;
            top: 45vh;
            left: 5vw;
            
            
            color: $text-light-color;
            font-family: $font-plain;
    
            .title-header {
                font-size: 7.5vh;
            }
    
            .title-subheader {
                font-size: 3.5vh;
            }
    
        }

        .main-nav {
            z-index: 10;

            position: absolute;
            right: 5vw;
            top: 15vh;

            .nav-item {
                display: block;
                position: relative;

                color: $text-light-color;
                font-family: $font-plain;
                font-size: 4vh;
                padding: .25em 0;

                transition: color 500ms;

                &:hover {
                    color: $secondary-color;
                }
                
            }
        }
    }
}